<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ name }}</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/onestore.css">
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxgAb1hkG9KgsYenH9OJzFisq-hZBSrZA&callback=initMap"
		type="text/javascript"></script>

	<style type="text/css">
		#cover1 {
			width: 100%;
			height: 100px;
		}

		#pic {
			width: 100%;
			height: 100%;
		}
	</style>

</head>

<body>
	<img src="/static/img/onestorecover.jpg" alt="" id="cover1">
	<div id="div1">
		<div id="pic1"><a href="/static/img/saree.jpg" title="dress"><img src="/static/img/saree.jpg" alt=""
					id="pic"></a></div>
		<div id="pic2"><a href="/static/img/shirt.jpeg" title="dress"><img src="/static/img/shirt.jpeg" alt=""
					id="pic"></a></div>
		<div id="pic4"><a href="/static/img/men1.jpg" title="dress"><img src="/static/img/men1.jpg" alt="" id="pic"></a>
		</div>
		<div id="pic3"><a href="/static/img/jacket.jpg" title="dress"><img src="/static/img/jacket.jpg" id="pic"
					alt=""></a></div>
		<div id="pic5"><a href="/static/img/men.jpg" title="dress"><img src="/static/img/men.jpg" id="pic" alt=""></a>
		</div>
		<div id="pic6"><a href="/static/img/salwar.jpeg" title="dress"><img src="/static/img/salwar.jpeg" alt=""
					id="pic"></a></div>
		<div id="pic7"><a href="/static/img/top.jpg" title="dress"><img src="/static/img/top.jpg" alt="" id="pic"></a>
		</div>
		<div id="location">{{location}}</div>
	</div>
	<div id="desc">
		<h1><u>Store name: {{ name }}</u></h1>
		<p><b>Store Details</b></p>
		<p>{{description}}</p>
	</div>
	<div id="map"><img
			src="http://maps.googleapis.com/maps/api/staticmap?center={{ location }}&size=650x250&sensor=true&markers=color:red|{{ location }}&zoom=15"
			alt="">
	</div>
	<script type="text/javascript"></script>
</body>

</html>